{% extends 'recipes/base.html' %} {% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-4">Are u sure u want to delete {{object}}?</legend>
            {{ form|crispy }}
            <!--   .as_p  display everything as paragraph ,so it splits into its own line -->
        </fieldset>
        <div class="form-group py-3">
            <input class="btn btn-outline-danger" type="submit" value="Delete" >
        </div>
    </form>
    <div class="border-top pt-3">
        <a href="{% url 'recipes-home' %}">Cancel</a>
    </div>
</div>
{% endblock content %}